.DashboardContainer {
    background-color: aqua;
    min-height: 500px;
    
    
}

@media only screen and (min-width: 768px) {  
    .DashboardContainer {
    width: 100%;
    
 }
}

@media only screen and (min-width: 992px) {  
    .DashboardContainer {
    width: 30%;
    float: left;
 }
}

@media only screen and (min-width: 1200px) {  
    .DashboardContainer {
    width: 30%;
    float: left;
 }
}