@import url('https://fonts.googleapis.com/css?family=Raleway:300,400,500');
@import url('https://fonts.googleapis.com/css?family=Inconsolata');
body {
  height: 100%;
}
html {
  height: auto;
  background-color: #e7e7e7;
}
#root {
  background-color: #e7e7e7;
  height: 100%;
}
.wrapper {
  background-color: #e7e7e7;
  display: grid;
  grid-template-areas: "dashboard" "tasks";
}
.App {
  width: 100%;
  margin: auto;
  background-color: #e7e7e7;
}
@media only screen and (min-width: 768px) {
  .wrapper {
    margin: auto;
    grid-template-columns: 1fr 3fr;
    grid-template-areas: "dashboard tasks" "dashboard tasks";
    width: 60%;
  }
}
/*@media only screen and (min-width: 1200px) {  
    .DashboardContainer {
    width: 30%;
    float: left;
 }
}*/
.TasksBoardContainer {
  width: 100%;
  grid-area: tasks;
  background-color: #e7e7e7;
  display: grid;
  grid-template-rows: 200px 50px auto;
  grid-template-areas: "formContainer" "apps" "currentApp";
  grid-row-gap: 15px;
}
.application-container {
  width: 100%;
  height: 100%;
  grid-area: currentApp;
  display: grid;
  margin-left: 15px;
  margin-right: 15px;
  grid-template-rows: 50px 450px 50px;
  grid-template-areas: "applicationOptions" "tasksContainer" "pages";
  background-color: #f6f6f6;
}
.application-options {
  grid-area: applicationOptions;
  background-color: #f6f6f6;
  margin-left: 15px;
  margin-right: 15px;
}
.application-pages {
  grid-area: pages;
}
.HeaderContainer {
  background-color: #023246;
  width: 100%;
  height: 80px;
}
.applications-list {
  grid-area: apps;
  background-color: #f6f6f6;
  margin-left: 15px;
  width: 100%;
}
.separated {
  -webkit-box-shadow: 2px 2px 6px 0px #c7c7c7;
  -moz-box-shadow: 2px 2px 6px 0px #c7c7c7;
  box-shadow: 2px 2px 6px 0px #c7c7c7;
}
