@import url('https://fonts.googleapis.com/css?family=Raleway:300,400,500');
@import url('https://fonts.googleapis.com/css?family=Inconsolata');
body {
  height: 100%;
}
html {
  height: auto;
  background-color: #e7e7e7;
}
#root {
  background-color: #e7e7e7;
  height: 100%;
}
.wrapper {
  background-color: #e7e7e7;
  display: grid;
  grid-template-areas: "dashboard" "tasks";
}
@media only screen and (min-width: 768px) {
  .wrapper {
    margin: auto;
    grid-template-columns: 1fr 3fr;
    grid-template-areas: "dashboard tasks" "dashboard tasks";
    width: 60%;
  }
}
/*@media only screen and (min-width: 1200px) {  
    .DashboardContainer {
    width: 30%;
    float: left;
 }
}*/
.DashboardContainer {
  background-color: #f6f6f6;
  grid-area: dashboard;
  margin-top: 15px;
}
.App {
  width: 100%;
  margin: auto;
  background-color: #e7e7e7;
}
.TasksBoardContainer {
  width: 100%;
  grid-area: tasks;
  background-color: #e7e7e7;
  display: grid;
  grid-template-rows: 200px 50px auto;
  grid-template-areas: "formContainer" "apps" "currentApp";
  grid-row-gap: 15px;
}
.application-container {
  width: 100%;
  height: 100%;
  grid-area: currentApp;
  display: grid;
  margin-left: 15px;
  margin-right: 15px;
  grid-template-rows: 50px 450px 50px;
  grid-template-areas: "applicationOptions" "tasksContainer" "pages";
  background-color: #f6f6f6;
}
.application-options {
  grid-area: applicationOptions;
  background-color: #f6f6f6;
  margin-left: 15px;
  margin-right: 15px;
}
.application-pages {
  grid-area: pages;
}
.HeaderContainer {
  background-color: #023246;
  width: 100%;
  height: 100px;
}
.form-group {
  grid-area: formContainer;
  background-color: #f6f6f6;
  display: grid;
  margin-right: 15px;
  margin-left: 15px;
  margin-top: 15px;
  width: 100%;
  grid-template-columns: 25% 25% 25% 25%;
  grid-template-rows: 20% 10% 20% 50%;
  grid-template-areas: ". . . ." ". i i . " ". d d ." ". . . .";
  grid-row-gap: 20px;
}
.basicForm {
  /*display: grid;
  text-align: center;
  grid-template-columns: 20% 60% 20%;
  grid-template-rows: 10% 20% 30% 30% 10%;  
  grid-template-areas:  ". . ." 
                        ". main-input ."
                        ". description ."
                        ". . ."
                        ". . ."*/
}
.task {
  background-color: #f6f6f6;
  justify-content: center;
  align-items: center;
  border: #e7e7e7 2px solid;
  box-shadow: 0 0 1em #e7e7e7;
  transition: background-color 0.5s ease;
}
.task:hover {
  background-color: #e7e7e7;
}
.tasks {
  width: 90%;
  background-color: #f6f6f6;
  margin-left: auto;
  margin-right: auto;
  overflow-x: auto;
  grid-area: tasksContainer;
  display: grid;
  grid-template-columns: repeat(1, minmax(100px, 3fr));
  grid-template-rows: repeat(4, 80px);
  grid-gap: 5px;
  max-height: 700px;
}
.applications-list {
  grid-area: apps;
  background-color: #f6f6f6;
  margin-left: 15px;
  width: 100%;
}
.separated {
  -webkit-box-shadow: 2px 2px 6px 0px #c7c7c7;
  -moz-box-shadow: 2px 2px 6px 0px #c7c7c7;
  box-shadow: 2px 2px 6px 0px #c7c7c7;
}
/*.message {
  -webkit-appearance: none;
  border: 0;
  width: 100%;
  //transition: 0.4s all;
  background: none;
  border-bottom: 2px solid @dark-color;
  //transition: 0.4s width 0.2s, 0.1s height;
  font-size: 15px;
  
}*/
.textarea-container {
  grid-area: d;
}
.input-container {
  grid-area: i;
}
/*
.description-input {
  width: 100%;
  height: 100%;
  -webkit-appearance: none;
  border: 0;
  border-bottom: 2px solid @dark-color;
  background-color: @light-color;
  font-size: 15px;
  background: none;
}

*/
.description-label {
  top: -3px;
  right: 25px;
}
.description-input,
.message {
  /*border: 0;
  width: 100%;
  height: 100%;
  padding: 10px 20px;
  background: white;
  border-radius: 3px;
  box-shadow: 0px 8px 15px @grey-color;
  transition: all 0.4s ease;
  &:focus {
    outline: none;
    box-shadow: 0px 9px 20px @grey-color;
    + .icons-container {
      .icon-close {
        opacity: 1;
        transform: translateX(0);
      }
      .icon-search {
        opacity: 0;
        transform: translateX(200%);
      }
    }
  }*/
  display: block;
  padding: 10px;
  margin: 10px auto;
  background-color: #e7e7e7;
  border: none;
  width: 100%;
  outline: none;
  font-size: 14px !important;
  font-family: 'Open Sans', sans-serif !important;
}
