// out: ../css/inputPanel.css

@import (reference) "parameters.less";



.form-group {
    grid-area: formContainer;
    background-color: @light-color;
    display: grid;
    //margin-right: 15px;
    //margin-left: 15px;
    //margin-top: 15px;
  
    width: 100%;
    
    grid-template-columns: 1fr 4fr 1fr 1fr;
    grid-template-rows: 20% 10% 20% 20% 20%; 

    grid-template-areas:
    '. title title .'
    '. description description .'
    '. date date .'
    '. subtask subtask .'
    '. . . .';
   
      grid-row-gap: 20px;


      .title-input {
        grid-area: title;
      }
    
      .description-input, .message
      {
     grid-area: description;
    display: block;
    padding-top: 10px;
    padding-bottom: 10px;
    margin: 10px auto;
    background-color: @light-color;
    border: none;
    width: 100%;
    outline: none;
    font-size: 14px !important;
    font-family: 'Open Sans', sans-serif !important;
    }
    
    .date-input {
      grid-area: date;
    }
    .subtask-input {
      grid-area: subtask;
    }
    



  
  }

  .modal-main {
    position:fixed;
  background: white;
  width: 70%;
  height: 80%;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);

  

  

    
  }

  

  .input-panel {
    display: grid;
    grid-template-columns: 5fr 1fr 1fr;
    //grid-template-rows: 1fr 1fr;
    grid-template-areas: 'input input input'
    '. newTask editTask';
    
    margin-left: 30px;
    margin-right: 30px;

    input[type=text], select {
      width: 100%;
      padding: 12px 20px;
      margin: 8px 0;
      display: inline-block;
      border: 1px solid #ccc;
      border-radius: 4px;
      box-sizing: border-box;
    }
    
    input[type=submit] {
      width: 100%;
      background-color: #4CAF50;
      color: white;
      padding: 14px 20px;
      margin: 8px 0;
      border: none;
      border-radius: 4px;
      cursor: pointer;
    }
    
    input[type=submit]:hover {
      background-color: #45a049;
    }

    textarea {
      width: 100%;
      padding: 12px 20px;
      margin: 8px 0;
      display: inline-block;
      border: 1px solid #ccc;
      border-radius: 4px;
      box-sizing: border-box;
    }

    


    .new-task {
      grid-area: newTask;
    }

    .edit-task {
      grid-area: editTask;
    }
  }
  
  
  