// out: ../css/mainContainers.css

@import (reference) "parameters.less";

.wrapper {
    display: grid;
    grid-template-areas: "dashboard"
                         "tasks";
}

@media only screen and (min-width: 768px) {
    .wrapper {
        
        grid-template-columns: 1fr 3fr;
        grid-template-areas: "dashboard tasks"
                             "dashboard tasks";
        
        
    }  

}

@media only screen and (min-width: 992px) {  
   
}

/*@media only screen and (min-width: 1200px) {  
    .DashboardContainer {
    width: 30%;
    float: left;
 }
}*/

.DashboardContainer {
    background-color: @dark-color;
    grid-area: dashboard;
   

}


.TasksBoardContainer {
    grid-area: tasks;   
   background-color: @light-color; 
   display: grid;
   grid-template-rows: 25% 75%;
   grid-template-areas: "formContainer"
                         "tasksContainer"
}

.HeaderContainer {
    
      
}

.form-group {
  grid-area: formContainer;
  display: grid;
  text-align: center;
  grid-template-columns: 20% 15% 15% 15% 15% 20%;
  grid-template-rows: 10% 20% 10% 20% 30% 10%; 
  grid-template-areas:  ". . . . . ." 
                        ". . main-input main-input . ."
                        ". . . . . ."
                        ". description description description description ."
                        ". description description description description ."
                        ". . . . . .";
    text-align: center;

}



.basicForm {
  /*display: grid;
  text-align: center;
  grid-template-columns: 20% 60% 20%;
  grid-template-rows: 10% 20% 30% 30% 10%;  
  grid-template-areas:  ". . ." 
                        ". main-input ."
                        ". description ."
                        ". . ."
                        ". . ."*/
  
}

.task{
    background-color: rgb(99, 30, 30);
    justify-content: center;
    align-items: center;
    
}

.tasks {
  grid-area: tasksContainer;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4,minmax(100px,200px));
    grid-gap: 1rem;
    //padding-left: 20px;
    //padding-right: 20px;
}







@import url('https://fonts.googleapis.com/css?family=Raleway:300,400,500');
@import url('https://fonts.googleapis.com/css?family=Inconsolata');


* {
  margin: 0;
  padding: 0;
}

body {
  background: #E8E8E8;
  font-family: 'Raleway', sans-serif;
}

.cbox,
.container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  flex-direction: column;
  height: 100vh;
}

.parent {
  grid-area: main-input;
  //width: 200px;
  //height: 50px;
  position: relative;
  .add,
  .cbox,
  .message {
    position: absolute;
  }
  .add,
  .message {
    color: @dark-color;
  }
  .add {
    top: -3px;
    right: 25px;
    transition: 0.6s all 0.3s;
    letter-spacing: 1px;
  }
}

.message,
.cbox {
  outline: none;
}

.cbox {
  top: -10px;
  right: -10px;
  width: 30px;
  height: 30px;
  background: @dark-color;
  border-radius: 100%;
  -webkit-appearance: none;
  z-index: 3;
  &:before,
  &:after {
    position: absolute;
    content: '';
    width: 20px;
    height: 2px;
    background: #E8E8E8;
    transition: 0.4s all;
  }
  &:after {
    transform: rotate(90deg);
  }
  &:checked {
    ~.message {
      width: 300px;
      height: 100%;
      transition: 0.3s width, 0.3s height 0.2s;
    }
    &:before,
    &:after {
      transform: rotate(360deg);
      transition: 0.4s all;
    }
    ~.add {
      font-size: 13px;
      transform: translateY(-16px);
      transition: 0.3s all;
    }
  }
}

.message {
  right: 0;
  height: 0;
  width: 0;
  transition: 0.4s all;
  background: none;
  border: 2px solid @dark-color;
  transition: 0.4s width 0.2s, 0.1s height;
  font-size: 30px;
  padding-left: 10px;
}

.input-container {
  grid-area: description;
}


.description-input {
  width: 100%;
  height: 100%;
  border: 2px solid @dark-color;
  background-color: @light-color;
  font-size: 30px;
}

.description-label {
  top: -3px;
  right: 25px;
}





