// out: ../css/mainContainers.css

@import (reference) "parameters.less";

body {height: 100%;}

html {
  height: auto;
  background-color: @grey-color;
}
#root{
  background-color: @grey-color;
  height: 100%;
}
.wrapper {
  background-color: @grey-color;
    display: grid;
    
    grid-template-areas: "dashboard"
                         "tasks";
}

@media only screen and (min-width: 768px) {
    .wrapper {
        margin: auto;
        grid-template-columns: 1fr 3fr;
        grid-template-areas: "dashboard tasks"
                             "dashboard tasks";
                             width: 60%;
        
        
    }  

}

@media only screen and (min-width: 992px) {  
   
}

/*@media only screen and (min-width: 1200px) {  
    .DashboardContainer {
    width: 30%;
    float: left;
 }
}*/

.DashboardContainer {
    background-color: @light-color;
    grid-area: dashboard;
    margin-top: 15px;

    

}

.App {
  width: 100%;
  margin: auto;
  background-color: @grey-color; 
}




.TasksBoardContainer {
 
  width: 100%;
  
    grid-area: tasks;   
   background-color: @grey-color; 
   display: grid;
   grid-template-rows: 200px 50px auto;
   grid-template-areas: "formContainer"
                        "apps"
                         "currentApp";

  grid-row-gap: 15px;
  
}


.application-container {
  width: 100%;
  height: 100%;
 grid-area: currentApp;
 display: grid;
 margin-left: 15px;
 margin-right: 15px;
 grid-template-rows: 50px 450px 50px;
 grid-template-areas: "applicationOptions"
                      "tasksContainer"
                      "pages";
                      background-color: @light-color
                      
}

.application-options{
 grid-area: applicationOptions;
 background-color: @light-color;
 margin-left: 15px;
 margin-right: 15px;
 //border-bottom: 1px solid @shadow;
 //width: 100%;
}

.application-pages {
  grid-area: pages;
}

.HeaderContainer {
    background-color: @dark-blue;
      width: 100%;
      height: 100px;
}

.form-group {
  grid-area: formContainer;
  background-color: @light-color;
  display: grid;
  margin-right: 15px;
  margin-left: 15px;
  margin-top: 15px;

  width: 100%;
  
  grid-template-columns: 25% 25% 25% 25%;
  grid-template-rows: 20% 10% 20% 50%; 
  grid-template-areas:  ". . . ."
                        ". i i . "
                        ". d d ."             
                        ". . . .";
    grid-row-gap: 20px;

}



.basicForm {
  /*display: grid;
  text-align: center;
  grid-template-columns: 20% 60% 20%;
  grid-template-rows: 10% 20% 30% 30% 10%;  
  grid-template-areas:  ". . ." 
                        ". main-input ."
                        ". description ."
                        ". . ."
                        ". . ."*/
  
}

.task{
    background-color: @light-color;
    justify-content: center;
    align-items: center;
    border: @grey-color 2px solid;
    box-shadow:  0 0 1em @grey-color;
    transition: background-color 0.5s ease;

    

}

.task:hover {
 //border-left: @light-blue 1px solid;
  background-color: @grey-color;
}



.tasks {
  width: 90%;
  background-color: @light-color;
  margin-left: auto;
  margin-right: auto;
  overflow-x:auto;
 

  grid-area: tasksContainer;
    display: grid;
    grid-template-columns: repeat(1, minmax(100px,3fr));
    grid-template-rows: repeat(4,80px);
    grid-gap: 5px;
    max-height: 700px
    //padding-left: 20px;
    //padding-right: 20px;
}

.applications-list {
  grid-area: apps;
  background-color: @light-color;
  margin-left: 15px;
  width: 100%;
}

.separated {-webkit-box-shadow: 2px 2px 6px 0px rgba(199,199,199,1);
-moz-box-shadow: 2px 2px 6px 0px rgba(199,199,199,1);
box-shadow: 2px 2px 6px 0px rgba(199,199,199,1);
}







@import url('https://fonts.googleapis.com/css?family=Raleway:300,400,500');
@import url('https://fonts.googleapis.com/css?family=Inconsolata');



/*.message {
  -webkit-appearance: none;
  border: 0;
  width: 100%;
  //transition: 0.4s all;
  background: none;
  border-bottom: 2px solid @dark-color;
  //transition: 0.4s width 0.2s, 0.1s height;
  font-size: 15px;
  
}*/

.textarea-container {
  grid-area: d;
}

.input-container {
  grid-area: i;
}

/*
.description-input {
  width: 100%;
  height: 100%;
  -webkit-appearance: none;
  border: 0;
  border-bottom: 2px solid @dark-color;
  background-color: @light-color;
  font-size: 15px;
  background: none;
}

*/

.description-label {
  top: -3px;
  right: 25px;
}

//-----------------------------------------------------



.description-input, .message
{
  /*border: 0;
  width: 100%;
  height: 100%;
  padding: 10px 20px;
  background: white;
  border-radius: 3px;
  box-shadow: 0px 8px 15px @grey-color;
  transition: all 0.4s ease;
  &:focus {
    outline: none;
    box-shadow: 0px 9px 20px @grey-color;
    + .icons-container {
      .icon-close {
        opacity: 1;
        transform: translateX(0);
      }
      .icon-search {
        opacity: 0;
        transform: translateX(200%);
      }
    }
  }*/

  display: block;
  padding: 10px;
  margin: 10px auto;
  background-color: @grey-color;
  border: none;
  width: 100%;
  outline: none;
  font-size: 14px !important;
  font-family: 'Open Sans', sans-serif !important;
}




