// out: ../css/mainContainers.css

@import (reference) "parameters.less";

body {height: 100%;}

html {
  height: auto;
  background-color: @grey-color;
}
#root{
  background-color: @grey-color;
  height: 100%;
}
.wrapper {
  background-color: @grey-color;
    display: grid;
    
    grid-template-areas: "dashboard"
                         "tasks";
}

.App {
  width: 100%;
  margin: auto;
  background-color: @grey-color; 
}


@media only screen and (min-width: 768px) {
    .wrapper {
        margin: auto;
        grid-template-columns: 1fr 3fr;
        grid-template-areas: "dashboard tasks"
                             "dashboard tasks";
                             width: 60%;
        
        
    }  

}

@media only screen and (min-width: 992px) {  
   
}

/*@media only screen and (min-width: 1200px) {  
    .DashboardContainer {
    width: 30%;
    float: left;
 }
}*/

.DashboardContainer {
    background-color: @light-color;
    grid-area: dashboard;
    margin-top: 15px;
}

.TasksBoardContainer {
 
  width: 100%;
  
    grid-area: tasks;   
   background-color: @grey-color; 
   display: grid;
   grid-template-rows: 200px 50px auto;
   grid-template-areas: "formContainer"
                        "apps"
                         "currentApp";

  grid-row-gap: 15px;
  
}


.application-container {
  width: 100%;
  height: 100%;
 grid-area: currentApp;
 display: grid;
 margin-left: 15px;
 margin-right: 15px;
 grid-template-rows: 50px 450px 50px;
 grid-template-areas: "applicationOptions"
                      "tasksContainer"
                      "pages";
                      background-color: @light-color
                      
}

.application-options{
 grid-area: applicationOptions;
 background-color: @light-color;
 margin-left: 15px;
 margin-right: 15px;
 //border-bottom: 1px solid @shadow;
 //width: 100%;
}

.application-pages {
  grid-area: pages;
}

.HeaderContainer {
    background-color: @dark-blue;
      width: 100%;
      height: 80px;
}



.applications-list {
  grid-area: apps;
  background-color: @light-color;
  margin-left: 15px;
  width: 100%;
}

.separated {-webkit-box-shadow: 2px 2px 6px 0px rgba(199,199,199,1);
-moz-box-shadow: 2px 2px 6px 0px rgba(199,199,199,1);
box-shadow: 2px 2px 6px 0px rgba(199,199,199,1);
}


@import url('https://fonts.googleapis.com/css?family=Raleway:300,400,500');
@import url('https://fonts.googleapis.com/css?family=Inconsolata');







//-----------------------------------------------------








